.navbar,
.navbar .logo,
.navbar .main-menu,
.navbar .nav-left-list, 
.navbar .nav-right-list{
    -webkit-transition: 250ms ease-in-out;
            transition: 250ms ease-in-out;  
}
.scrollanimation.fadeInUp{
    opacity: 0;
    -webkit-transform: translateY(40px);
       -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
            transform: translateY(40px);

-webkit-transition: all 500ms cubic-bezier(0.000, 0.700, 0.275, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.000, 0.700, 0.275, 1.000); 
     -o-transition: all 500ms cubic-bezier(0.000, 0.700, 0.275, 1.000); 
        transition: all 500ms cubic-bezier(0.000, 0.700, 0.275, 1.000); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.000, 0.700, 0.275, 1.000); 
   -moz-transition-timing-function: cubic-bezier(0.000, 0.700, 0.275, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.000, 0.700, 0.275, 1.000); 
        transition-timing-function: cubic-bezier(0.000, 0.700, 0.275, 1.000); /* custom */
}
.scrollanimation.fadeInUp.in{
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}
.scrollanimation.fadeInUpCenter.in{
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.scrollanimation.d1{
    -webkit-transition-delay:300ms;
            transition-delay:300ms;
}
.scrollanimation.d2{
    -webkit-transition-delay:600ms;
            transition-delay:600ms;
}
.scrollanimation.d3{
    -webkit-transition-delay:900ms;
            transition-delay:900ms;
}