/* Base Button */
.btn {
  font-size: @font-size-m;
  font-family: @font-family-ubuntu;
  font-weight: @font-weight-b;
  color: @cl-white;
  border: 1px solid @cl-white;
  border-radius: 0;  
  &:hover, &:active, &.hover, &.active {
    color: @cl-white;
  }
  &:disabled, &.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }  
}

i {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  zoom: 1;
}

/* Button Fixed Width*/
.btn-sm {
  padding: 10px 30px;
}
.btn-md {
  padding: 10px 50px;
}
.btn-hg {
  padding: 10px 85px;
}

.btn-non-width {
  width: inherit !important;
}

/*Button With Text + Icon*/

.btn-m-font-weight {
  font-weight: @font-weight-m;
}

.btn-black {
  background: @cl-black;
  background-color: @cl-black;
  &:hover, &:active, &.hover, &.active {
    .lighten-background-color(@cl-black, 30%);
  }
}

.btn-red {
  background: @cl-red;
  background-color: @cl-red;
  &:hover, &:active, &.hover, &.active {
    .darker-background-color(@cl-red);
  }
}

.btn-blue {
  background: @cl-blue;
  background-color: @cl-blue;
  &:hover, &:active, &.hover, &.active {
    .darker-background-color(@cl-blue);
  }
}

.btn-green {
  background: @cl-green;
  background-color: @cl-green;
  &:hover, &:active, &.hover, &.active {
    .darker-background-color(@cl-green);
  }
}

.btn-white {
  background: @cl-white;
  background-color: @cl-white;
  color: @cl-black;
  &:hover, &:active, &.hover, &.active {
    .darker-background-color(@cl-white);
  }
}