@cl-red: #de0000;
@cl-black: #000;
@cl-white: #fff;
@cl-green: #5cb85c;
@cl-blue: #428bca;

@cl-dark-grey: #9c9c9c;
@cl-grey: #d9d9d9;
@cl-light-grey: #ededed;
@cl-lighter-grey: #f5f5f5;
@cl-grey-newsletter: #4b4b4b;
@cl-grey-top-header-menu: #858585;

.darker-background-color(@col, @per: 10%) {
  background: darken(@col, @per);
  background-color: darken(@col, @per);
}

.lighten-background-color(@col, @per: 10%) {
  background: lighten(@col, @per);
  background-color: lighten(@col, @per);
}

.cl-background(@col) {
  background: @col;
  background-color: @col;
}

.bg-white {
	.cl-background(@cl-white);
  margin: 0;
  border: 0;
}

.bg-black {
  .cl-background(@cl-black);
}

.cl-red {
  color: @cl-red !important;
}

.over {
  color: @cl-light-grey !important;
}