footer {
  width: 100%;
  height: 281px;
  position: absolute;
  bottom: 0;
  .container {
    padding-top: 25px;
    padding-bottom: 20px;
  }
  .row {
    margin-left: 50px;
  }
  p {
    .txt-val(@font-size-base, @font-weight-m, @cl-white);
  }
  p.copy{
    .txt-val(@font-size-base, @font-weight-m, @cl-grey);
  }

  .first-col {
    padding-right: 0;
    ul {
      margin: 10px 0 30px;
      padding-left: 0;
      li {
        margin-right: 25px;
        i {
          color: @cl-white;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  
  ul {
    padding: 0;
    list-style: none;
    li {        
      a {
        text-decoration: none;
        .txt-val(@font-size-hm, @font-weight-n, @cl-grey);
      }
    }
  }  

  .third-col {
    ul {
      margin-bottom: 75px; 
    }
  }

  .fourth-icol {
    ul {
      margin-bottom: 95px; 
    }
  }

  .foot-mobile {
    display: none;
    margin: 0;
    h4 {
      .txt-val(@font-size-h4, @font-weight-b, @cl-grey);      
    }
    .form-control-newsletter {
      width: 200px;
      margin-bottom: 20px;
    }
    .accordion-title {
      position: relative;
      i {
        position: absolute;
        right: 0;
      }
    }
    a {
      color: @cl-grey;
      text-decoration: none;
    }
  }
}
