.form-control-newsletter {
  border-bottom: 1px solid @cl-grey;
  padding-bottom: 5px;
  margin-bottom: 60px;
  i {
    top: 3px;
    margin-right: 1px;
  }
} 

.input-newsletter {
  .txt-val (@font-size-hm, @font-weight-m);
  color: @cl-grey-newsletter;
  border: none;  
  .cl-background(transparent);
  outline: 0;
  width: 90%;
}