@box-img-txt-width: 282px;
@box-img-txt-height: 443px;
@box-img-txt-height-price: 478px;
@box-img-txt-top-height: 489px;

.default-box {
  width: @box-img-txt-width;
  .border-with-cl(@cl-grey);
  margin-left: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.box-img-txt {
  .cl-background(@cl-white);  
  img {
    width: 100%;
    height: 380px;
  }
  .txt-container {
    padding: 15px 20px 5px;
    .txt-cat {
      .txt-val(@font-size-s, @font-weight-b, @cl-red);
      margin: 0;
    }
    .txt-product {
      .txt-val(@font-size-base, @font-weight-b, @cl-black);
    }
    .txt-price {
      .txt-val(@font-size-m, @font-weight-b, @cl-black);
    }
  }  
}

.box-img-txt-top {
  width: 301px;
  position: relative;
  img {
    .cl-background(@cl-blue);
    width: 100%;
    height: 100%;
  }
  .txt-container {
    position: absolute;
    top: 15px;
    left: 20px;
    padding-right: 50px;
    .txt-cat {
      .txt-val(@font-size-s, @font-weight-b, @cl-red);
      margin: 0;
    }
    .txt-product {
      .txt-val(@font-size-base, @font-weight-b, @cl-black);
    }
    .txt-price {
      .txt-val(@font-size-m, @font-weight-b, @cl-black);
    }
  }
}

.box-img-txt-top-btn {
  height: @box-img-txt-top-height;  
  .txt-container {
    padding: 15px 20px;
    padding-right: 60px;
    height: 100%;
    position: relative;
    h3 {
      .txt-val(@font-size-h3, @font-weight-n, @cl-white);
      margin-top: 0;
    }
    p {
      .txt-val(@font-size-s, @font-weight-m, @cl-white);
    }
    .light-red {
      color: #efa3a3;
    }
    button {
      position: absolute;
      bottom: 32px;
      left: 32px;
      width: 208px;
    }
  }  
}

.container-txt-img {
  width: 1191px;
  display: inline-flex;
  .box-txt-center-btn {
    height: 497px;
    border: none;
    margin: 0;
    width: 452px;
    .txt-container {
      text-align: center;
      padding: 55px 20px;
      h1 {
        .txt-val(@font-size-h1, @font-weight-l, @cl-white);
        margin-bottom: 90px;
      }
      p {
        .txt-val(@font-size-base, @font-weight-n, @cl-white);
      }
      button {
        width: 150px;
        margin-top: 100px;
      }
    }    
  }
  img {
  }
}

.box-img-txt-price {
  width: 284px;
}

.box-sm {
  margin: 0;
  border: none;
  display: block;
}

.box-back-red {
  .cl-background(@cl-red);
}

.box-back-black {
  .cl-background(@cl-black);
}

.border-with-cl (@color: @cl-white) {
  border: 1px solid @color;
}

.Rectangle_5_copy_6 {
  background-color: rgb( 152, 98, 98 );
  position: absolute;
  left: 135px;
  top: 1298px;
  width: 284px;
  height: 380px;
  z-index: 90;
}