.header {
  height: 158px;
  .cl-background(@cl-white);
}

.menu-header-top {
  height: 32px;
  ul {
    list-style: none;
    padding: 0;
    padding-top: 5px;
    margin-left: 24px;
    li {
      display: inline;
      margin-right: 48px;
      a {
        .txt-val(@font-size-m, @font-weight-m, @cl-grey-top-header-menu);
        text-decoration: none;
      }
      &:last-child {
        margin-right: 0;
      }
      .dropdown {
        display: inline;
        .dropdown-menu {
          min-width: 0;
          margin: 0;
          margin-left: -21px;
          li {
            margin: 0;
          }
        }
      }
    }
  }
}

.menu-wlogo {
  margin: 0;
  .left-col {    
    list-style: none;
    padding: 0;
    padding-top: 32px;
    float: left;
    li:first-child {
      margin-right: 68px;
    }
  }
  .right-col {
    float: right;
    list-style: none;
    padding: 0;
    padding-top: 32px;
    li:first-child {
      margin-right: 66px;
    }
  }
  a {
    text-decoration: none;
    .txt-val(@font-size-hm, @font-weight-b, @cl-black);
  }
  li {
    display: inline;
  }
  img.logo {
    position: relative;
    top: 5px;
    right: 5px;
  }
}

.list-horizontal {
  list-style: none;
  display: inline-block;
  li {
    display: inline;
  }
}

.main-menu {
  ul {
    width: 100%;
    padding: 30px 0 10px 23px;
    margin: 0;
    li {
      margin-right: 76px;
      position: relative;      
      a {
        text-decoration: none;
        .txt-val(@font-size-hm, @font-weight-b, @cl-black);
        padding-bottom: 15px;
      }
    }
    .drop-level {
      &:hover, &.hover, &:focus, &.focus {        
        .with-sub {
          color: @cl-black !important;
        }
        &:after {
          content: '';
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid @cl-light-grey;
          position: absolute;
          top: 26px;
          left: 40%;
        }
      }
    }
    li:last-child {
      margin-right: 0 !important;
    }
  }  
}

.nav-secondary {
  .cl-background(@cl-light-grey);
  width: 100%;
  position: fixed;
  top: 159px;
  left: 0;
  text-align: left;
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  p {
    .txt-val(@font-size-base, @font-weight-b, @cl-black);
    padding-left: 30px;
  }
  ul {
    list-style: none;
    padding: 10px 0 0 30px;
    li {
      display: block;
      a {
        line-height: 22px;
        &:hover, &.hover {
          color: @cl-red;
        }
      }
    }
  }
  img {
    width: 100%;
  }
}

