@import "typography.less";
@import "colors.less";
@import "buttons.less";
@import "text.less";
@import "forms.less";
@import "grid.less";
@import "header.less";
@import "footer.less";
@import "media_queries.less";
@import "mobile.less";

.demo-h {
  text-align: center;
}

body {
  background: @cl-lighter-grey;
  background-color: @cl-lighter-grey;
}

.menus-container {
	width: 100%;
	height: 400px;
	.cl-background(@cl-dark-grey);
	border: 1px solid @cl-grey;
	border-radius: 10px;
}

.page-container {
	width: 1190px;
}