@import "imports.less";

@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;
@base: #f988Db;
/****************** VARIABLE INTERPOLATION  ******************/
@second-box: other-box;
@theme: #555;


/****************** MEDIA QUERY BUILDING  ******************/
body {
  #colors > .body-background;
  @media (min-width: 768px) {
    #colors > .body-background(green);
    .box {
      .add-margin-to(25px);
    }
  }
  @media (min-width: 1180px) {
    #colors > .body-background(yellow);
    .box {
      .add-margin-to(55px);
    }
  }
  position: relative;
}

.box-shadow(@style, @c) when (iscolor(@c)) {
  -webkit-box-shadow: @style @c;
  box-shadow:         @style @c;  
}

.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}

.box {
  border-color: lighten(@base, 30%);
  div { .box-shadow(0 0 5px, 30%) }
  width: 50%;
  #colors > .colored-font;
}

/****************** MIXINS  ******************/
.anchors {
  text-decoration: none;
  &:hover {
    #colors > .anchor-back-colr(red);
    color: #fff;    
  }  
}

.box a {
  .anchors();
}

.second-anchor {
  #colors > .anchor-back-colr();
}

.border-p(@size: 1px; @type: solid; @color: #fff) {
  border: @arguments;
}

/****************** VARIABLES  ******************/
.wh-values(@h: 100px) {
  @width: 100%;
  @height: @h;
}

/****************** VARIABLE INTERPOLATION  ******************/
.@{second-box} {
  .wh-values;
  width: @width;
  height: @height;
  .border-p(3px;dotted);
}

/****************** OPERATIONS  ******************/
.add-margin-to (@value: 0) {
  margin-top: @value + 5;
}


/****************** NAMESPACES/ACCESSORS/FUNCTIONS  ******************/
#colors {
  .colored-font {
    color: saturate(@base, 50%);
    font-weight: bold;
    font-size: 1.7em;
  }

  .body-background(@color: @nice-blue) {
    background-color: spin(lighten(@color, 25%), 8);
  }

  .anchor-back-colr(@c: #000) {
    background-color: @c;
  }
}


/****************** NAVBAR  ******************/
.shadow {
  box-shadow: 0 1px 2px 0 @theme;
}

.border(@radius: 3px) {
  border-radius: @radius;
  border: 1px solid @theme - #050505;
}

.divider {
  border-style: solid;
  border-width: 0 1px 0 1px;
  border-color: transparent @theme - #111 transparent @theme + #333;
}

.gradient {  
    background: linear-gradient(top, @theme + #252525 0%, @theme + #171717 50%, @theme - #010101 51%, @theme + #151515 100%);  
}  

.hovereffect {  
    background: linear-gradient(top, @theme - #010101 0%, @theme - #121212 50%, @theme - #222222 51%, @theme - #050505 100%);  
}  

.textcolor(@txtcolor) when (lightness(@txtcolor) >= 50%) {  
    color: @txtcolor;  
    text-shadow: 1px 1px 0px #000000;  
}  

.textcolor(@txtcolor) when (lightness(@txtcolor) < 50%) {  
  color: @txtcolor;  
  text-shadow: 1px 1px 0px #ffffff;  
} 

nav {  
  margin: 50px auto 0;  
  width: 788px;  
  height: 45px;  
  .border(7px);  
  .shadow; 
  ul {  
    padding: 0;  
    margin: 0;  
    li {        
      display: inline;  
      a {  
        text-decoration: none;  
        display: inline-block;  
        float: left;  
        width: 156px;  
        height: 45px;  
        text-align: center;  
        line-height: 300%; 
        #colors > .body-background(#000021); 
        .textcolor(#f2f2f2); // You can change this line  
        .divider;  
        .gradient;  
        &:hover {
          #colors > .body-background(#0000ff); 
        }
      }  
    }  
    li:first-child a {  
      border-left: none;  
    }  
    li:last-child a {  
      border-right: none;  
    }  
  }   
}  

/*********** CSS ANIMATIONS *************/
.anim-div {
  width: 200px;
  height: 200px;
  margin: 25px 50px;
  background-color: coral;
  -webkit-animation: square-to-circle 2s .5s infinite cubic-bezier(1,.015,.295,1.225) alternate;
  outline: 1px solid transparent;
  position: absolute;
}

@-webkit-keyframes square-to-circle {
  0% {
    border-radius: 0 0 0 0;
    background: coral;
    transform: rotate(0deg);
    left: 0;
  }
  25% {
    border-radius: 50% 0 0 0;
    background: darksalmon;
    transform: rotate(45deg);
    left: 25%;
  }
  50% {
    border-radius: 50% 50% 0 0;
    background: indianred;
    transform: rotate(90deg);
    left: 50%;
  }
  75% {
    border-radius: 50% 50% 50% 0;
    background: lightcoral;
    transform: rotate(135deg);
    left: 25%;
  }
  100% {
    border-radius: 50%;
    background: darksalmon;
    transform: rotate(180deg);
    left: 0;
  }
}