@media (max-width: 1199px) {
  .main-menu {
    li {
      margin-right: 63px !important;
    }
  }

  .menu-wlogo {
    .left-col {  
      li:first-child {
        margin-right: 48px;
      }
    }
    .right-col {  
      li:first-child {
        margin-right: 85px;
      }
    }
  }
}

@media (max-width: 991px) {
  .menu-wlogo {
    .left-col {
      margin-left: 0;
      li:first-child {
        margin-right: 24px;
      }
    }
    .right-col {
      margin-right: 0;
      li:first-child {
        margin-right: 40px;
      }
    }    
  }

  .main-menu {
    ul {
      padding-left: 0;
      li {
        margin-right: 50px !important;
      }
    }
  }

  .nav-secondary {
    p {
      padding-left: 0;
    }
  }

  footer{
    .first-col ul li {
      margin-right: 18px;
    }
    .form-control-newsletter i {
      margin-right: 1px;
    }
  } 
} 

@media (max-width: 870px) {
  .menu-header-top {
    li {
      margin-right: 35px !important;
    }
  }
}

@media (max-width: 830px) {
  .main-menu {
    ul {
      padding-left: 0;
      li {
        margin-right: 45px !important;
      }
    }
  }

  footer {
    .container {
      margin-right: 0;
      margin-left: 0;
      width: 100%;
    }
    .foot-top, .foot-bottom {
    display: none;
    }
    .foot-mobile {
      display: block !important;
    }
  }
  
}

@media (max-width: 795px) {
  .menu-header-top {
    li {
      margin-right: 30px !important;
    }
  }
}

@media (max-width: 760px) {
  .menu-header-top {
    display: none;
  }
}