.demo-ubuntu-txt-n {  
  font-family: @font-family-ubuntu;
  font-weight: @font-weight-n;  
}

.demo-ubuntu-txt-b {
  font-size: @font-size-base;
  font-family: @font-family-ubuntu;
  font-weight: @font-weight-b;
}

.demo-ubuntu-txt-m {
  font-size: @font-size-base;
  font-family: @font-family-ubuntu;
  font-weight: @font-weight-m;
}

.demo-ubuntu-txt-l {
  font-size: @font-size-base;
  font-family: @font-family-ubuntu;
  font-weight: @font-weight-l;
}

.h-size {
  font-size: @font-size-h;
}
.base-size {
  font-size: @font-size-base;
}
.hm-size {
  font-size: @font-size-hm;
}
.m-size {
  font-size: @font-size-m;
}
.s-size {
  font-size: @font-size-s;
}