@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);

@font-family-ubuntu: 'Ubuntu', sans-serif;

@font-size-h: 2em; // ~32px
@font-size-base: 1em; // ~16px
@font-size-hm: 0.875em; // ~14px
@font-size-m: 0.813em; // ~13px
@font-size-s: 0.688em; // ~11px

@font-size-h1: 2.250em; // ~36px
@font-size-h2: 1.875em; // ~30px
@font-size-h3: 1.5em; // ~24px
@font-size-h4: 1.125em; // ~18px
@font-size-h5: @font-size-base;
@font-size-h6: 0.75em; // ~12px

@font-weight-b: 700;
@font-weight-l: 300;
@font-weight-n: 400;
@font-weight-m: 500;

.up-text {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.txt-val(@size, @weight, @cl) {
  font-family: @font-family-ubuntu;
  font-size: @size;
  font-weight: @weight;
  color: @cl;
}

.txt-val(@fsize: @font-size-base, @fweight: @font-weight-n) {
  font-family: @font-family-ubuntu;
  font-size: @fsize;
  font-weight: @fweight;
}

/*
@font-face {
  font-family: 'Ubuntu';
  src:url('../fonts/ubuntu-r.eot');
  src:url('../fonts/ubuntu-r.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ubuntu-r.ttf') format('truetype'),
    url('../fonts/ubuntu-r.woff') format('woff'),
    url('../fonts/ubuntu-r.svg#kbox') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu Bold';
  src:url('../fonts/ubuntu-b.eot');
  src:url('../fonts/ubuntu-b.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ubuntu-b.ttf') format('truetype'),
    url('../fonts/ubuntu-b.woff') format('woff'),
    url('../fonts/ubuntu-b.svg#kbox') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu Light';
  src:url('../fonts/ubuntu-l.eot');
  src:url('../fonts/ubuntu-l.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ubuntu-l.ttf') format('truetype'),
    url('../fonts/ubuntu-l.woff') format('woff'),
    url('../fonts/ubuntu-l.svg#kbox') format('svg');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu Medium';
  src:url('../fonts/ubuntu-m.eot');
  src:url('../fonts/ubuntu-m.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ubuntu-m.ttf') format('truetype'),
    url('../fonts/ubuntu-m.woff') format('woff'),
    url('../fonts/ubuntu-m.svg#kbox') format('svg');
  font-weight: normal;
  font-style: normal;
}*/